---
import "../styles.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" sizes="64x64" href="/favicon-64x64.png" />
		<link rel="icon" type="image/png" sizes="160x160" href="/favicon-160x160.png" />
		<link rel="icon" type="image/png" sizes="256x256" href="/favicon-256x256.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Miners Online - Minecraft SMP</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
